{# Macros #}
{% from 'button.j2' import button %}

{# extending what? #}
{% extends 'base.j2' %}


{% block special_imports %}
<!-- no special imports -->
{% endblock %}


{% block title %}
	{{title}}
{% endblock %}


{% block content %}
	<div class="grid grid-pad">
		<section class="col-1-6 available-questions-container">
			<fieldset>
				<label>Available Questions</label>
				{% include 'list_box.j2' %}
				{{ button('/activate_selected_questions', 'activate', 'btn-block btn-success') }}
				{{ button('/activate_all_questions', 'activate all', 'btn-block btn-success') }}
				{{ button('/deactivate_selected_questions', 'deactivate', 'btn-block btn-warning') }}
				{{ button('/deactivate_all_questions', 'deactivate all', 'btn-block btn-warning') }}
			</fieldset>
		</section>

		<section class="col-1-6 active-questions-container">
			<fieldset>
				<label>Active Questions</label>
				{% include 'list_box.j2' %}
				{{ button('/deactivate_selected_questions', 'deactivate', 'btn-block btn-warning') }}
				{{ button('/deactivate_all_questions', 'deactivate all', 'btn-block btn-warning') }}
			</fieldset>
		</section>

		<section class="col-3-6">
			Main Content
		</section>

		<section class="col-1-6 deactived-questions-container">

		</section>
	</div>
{% endblock %}
